.brands
	padding-top 67px
	padding-bottom 126px
	text-align center
	h3
		color #3a3f4b
		font-family $ff-lora
		font-size 42px
		font-weight 700
		line-height 20px
		text-transform uppercase
		position relative
		padding-bottom 124px
		&:after
			content ''
			position absolute
			left 50%
			transform translateX(-50%)
			bottom 91px
			width 147px
			height 4px
			background-color $col-blue
	&__content
		display flex
		justify-content space-between
		align-items center
		img
			filter contrast(20%) opacity(41%)
			transition all .3s ease
			&:hover
				filter none