.contact
	&__wrap
		padding-top 87px
		padding-bottom 71px
		background #3b404c
	&__top
		display flex
		justify-content space-between
		align-items center
		padding-bottom 111px
		h3
			color #ffffff
			font-family $ff-lora
			font-size 33px
			font-weight 700
			line-height 24px
	&__menu
		a
			margin-left 25px
	&__bottom
		display flex
		justify-content space-between
	&__left
		div
			max-width 307px
			padding-bottom 68px
			h5
				color #ffffff
				font-family $ff-openSansSemibold
				font-size 24px
				line-height 19px
				text-transform uppercase
				padding-bottom 29px
			p
			a
				color #999999
				font-family $ff-openSans
				font-size 18px
				line-height 24px
				text-decoration none
	&__right
		display flex
		flex-wrap wrap
		justify-content space-between
		padding-left 83px
		div
			&:nth-child(1)
			&:nth-child(2)
				width 48%
			&:nth-child(3)
				width 100%
			p
				color #ffffff
				font-family $ff-openSans
				font-size 26px
				line-height 38.64px
			input
			textarea
				width 100%
				padding 10px 0 11px 24px
				border none
				background none
				border-bottom 2px solid #999999
				&:focus
				&:active
					border-color $col-blue
					outline none
			textarea
				resize none
		.btn
			padding 13px 55px 12px 56px
			border none
			max-height 63px
			margin-top -41px
			cursor pointer
			&:focus
			&:active
				outline none
