footer
	position relative
	.link
		position absolute
		width 100%
		left 0
		top 0
	.wrapper
		display flex
		justify-content space-between
		align-items center
		padding-top 29px
		padding-bottom 28px
		position relative
		p
			color #999999
			font-family $ff-montserrat
			font-size 13px
			line-height 26px
		ul
			display flex
			li
				margin 0 6px
				height 31px
				width 30px
				&:nth-child(1)
					a
						&:after
							background-position 0 0
				&:nth-child(2)
					a
						&:after
							background-position -42px 0
				&:nth-child(3)
					a
						&:after
							background-position -84px 0
				&:nth-child(4)
					a
						&:after
							background-position -126px 0
			a
				position relative
				&:after
					content ''
					position absolute
					height 31px
					width 30px
					background url("../img/icons/sprite_foot.png") no-repeat
.btnTop
	position absolute
	top 0
	left 50%
	transform translate(-50%, -50%)
	width 67px
	height 67px
	box-shadow 0 3px 5px rgba(0, 0, 0, 0.25)
	background-color $col-blue
	border-radius 100px
	&:hover
		&:after
			top 35%
	&:after
		content '\2039'
		position absolute
		color #fff
		font-family $ff-lora
		top 50%
		left 54%
		transform translate(-50%, -50%) rotate(90deg)
		transition all .3s ease-in
		font-size 30px
		&:hover
			top 35%