.wrapper
	max-width 1190px
	padding-left 10px
	padding-right 10px
	margin-left auto
	margin-right auto
	width 100%
.btn
	box-shadow 0 2px 5px 1px rgba(0, 0, 0, 0.25)
	border-radius 100px
	background-color $col-blue
	font-family $ff-openSansSemibold
	color #fff
	transition all .3s ease
	&:hover
		box-shadow inset 0 2px 5px 1px rgba(0, 0, 0, 0.25)

.js-menuBtn
	display none
	position relative
	width 55px
	height 50px
	border-radius 15px
	background #fff
	span
		position absolute
		width 32px
		height 3px
		left 50%
		transform translateX(-50%)
		background #333333
		transition transform .3s ease
		&:nth-child(1)
			top 14px
		&:nth-child(2)
			top 23.5px
		&:nth-child(3)
			bottom 14px
	&.active
		span
			left 12px
			&:nth-child(1)
				top 24px
				transform rotate(225deg)
			&:nth-child(2)
				opacity 0
			&:nth-child(3)
				bottom 23px
				transform rotate(-225deg)

