.header
	width 100%
	height 100%
	min-height 100vh
	background url("../img/bg-header.png")
	background-repeat no-repeat
	background-size 100% 100%
	overflow hidden
	position relative
	&:after
		content ''
		position absolute
		height 100%
		width 100%
		background rgba(59, 64, 76, .5)
		top 0
		left 0
	header
		display flex
		justify-content space-between
		align-items center
		padding-top 24px
		z-index 2
		nav
			z-index 3
	&__text
		text-align center
		z-index 1
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 100%
		h4
			font-family $ff-lora
			font-size 58px
			font-weight 700
			color #fff
			padding-bottom 34px
			line-height 61px
		h5
			padding-bottom 88px
			color #fff
			font-family $ff-openSans
			font-size 25px
			line-height 26px
		a
			font-size 25px
			line-height 20px
			padding 18px 50px 19px 70px
			color #fff
.contact__menu
.header__menu
		display flex
		a
			margin-left 48px
			font-family $ff-openSansSemibold
			font-size 14px
			color #fff
			padding-bottom 4px
			border-bottom 1px solid transparent
			transition all .3s ease
			&:hover
				border-color $col-blue
				color $col-blue