@media (max-width: 860px)
	.brands__content
		flex-wrap wrap
		justify-content space-around
		div
			padding-bottom 30px
			margin 0 10px

@media (max-width: 768px)
	.js-menuBtn
		display block
	.header
		padding-bottom 85px
		header
			padding-top 14px
		&__menu
			position absolute
			right 0
			top 70px
			flex-direction column
			align-items flex-end
			width 300px
			height calc(100vh - 70px)
			background #6a6a6a
			transition all .3s ease
			transform translateX(200%)
			&.active
				transform translateX(0)
			li
				margin 10px 0
				a
					margin-left 0
					margin-right 40px
	.portfolio__links
		justify-content space-around
		flex-wrap wrap
		width 100%
		a
			margin 0
	.services__content
		flex-wrap wrap
		div
			width 50%
			margin-top 10px
	.services h3
	.portfolio__wrap .wrapper h3
	.brands h3
	.testimonials__wrap h3
		font-size 30px
	.js-arrow
		display none
	.contact
		&__bottom
			flex-direction column
		&__left
			display flex
			justify-content space-around
			flex-wrap wrap
		&__right
			padding-left 0
			.btn
				margin-top 39px
	.brands h3
		line-height 35px

@media (max-width: 560px)
	.header__text h4
		font-size 50px
	.portfolio-item
		width 49%
	.contact
		&__top
			flex-direction column-reverse
			h3
				padding-top 30px
		&__right
			div
				&:nth-child(1)
				&:nth-child(2)
					width 100%
					margin-bottom 15px
@media (max-width: 420px)
	.header
		padding-bottom 40px
	.services__content div
		width 100%
	.contact__left
		flex-direction column
	.portfolio__links
		li
			padding-top 10px
	.testimonials__slider-img img
		max-width 80px
		height 80px
	.testimonials__slider-img .slick-center img
		max-width 90px
		height 90px
	.contact__menu
		flex-wrap wrap
		justify-content space-around
		li
			padding-top 10px
			margin 0 10px
		a
			margin 0
	footer .wrapper
		flex-direction column
	.brands
		padding-bottom 70px
	.portfolio-item p
		padding-left 10px
	.header__text h5
		padding-bottom 60px
	.header__text h4
		font-size 41px
	.contact__right
		justify-content center
