.portfolio
	display flex
	flex-direction column
	align-items center
	width 100%
	&__links
		display flex
		justify-content center
		padding-bottom 50px
		a
			color #999999
			font-family $ff-openSans
			font-size 14px
			text-transform uppercase
			margin 0 27px
			padding-bottom 1px
			border-bottom 1px solid transparent
			transition all .3s ease
			&:hover
			&.active
				color $col-blue
				border-color $col-blue
	&__container
		width 100%
		display flex
		flex-wrap wrap
		justify-content space-between
	&-item
		width 32.6%
		box-shadow 0 2px 5px 1px rgba(0, 0, 0, 0.15)
		margin-bottom 15px
		display none
		img
			width 100%
		p
			padding 29px 0 29px 32px
			color #999999
			font-family $ff-openSansSemibold
			font-size 18px
	.js-loadMore
		margin-top 62px
		padding 20px 90px
		text-transform uppercase
	&__wrap
		background #f5f6f8
		padding-top 46px
		padding-bottom 80px
		.wrapper
			display flex
			flex-direction column
			align-items center
			h3
				padding-bottom 96px
				color #3a3f4b
				font-family $ff-lora
				font-size 42px
				font-weight 700
				line-height 31px
				text-transform uppercase
				position relative
				&:after
					content ''
					position absolute
					left 50%
					transform translateX(-50%)
					width 147px
					height 4px
					background-color $col-blue
					bottom 63px