.services
	display flex
	flex-direction column
	align-items center
	padding-top 73px
	padding-bottom 97px
	h3
		color #3a3f4b
		font-size 42px
		font-weight 700
		line-height 32px
		font-family $ff-lora
		text-transform uppercase
		padding-bottom 131px
		position relative
		&:after
			content ''
			position absolute
			width 147px
			height 4px
			background-color #00a5ff
			left 50%
			transform translateX(-50%)
			bottom 98px
	&__content
		display flex
		justify-content space-between
		width 100%
		div
			padding 0 10px
			text-align center
			&:nth-child(1)
				h6
					&:before
						width 35px
						height 35px
						top 23px
						background-position -17px -19px
			&:nth-child(2)
				h6
					&:before
						width 43px
						height 34px
						top 23px
						background-position -71px -18px
			&:nth-child(3)
				h6
					&:before
						width 23px
						height 36px
						top 22px
						background-position -140px -16px
			&:nth-child(4)
				h6
					&:before
						width 42px
						height 49px
						top 16px
						background-position -175px -10px
			h6
				padding-top 99px
				padding-bottom 19px
				color #3a3f4b
				font-family $ff-openSansSemibold
				font-size 18px
				font-weight bold
				text-transform uppercase
				letter-spacing 1.35px
				line-height 14px
				position relative
				&:after
					content ''
					position absolute
					top 0
					left 50%
					transform translateX(-50%)
					width 81px
					height 81px
					background-color #f5f6f8
					border-radius 50px
				&:before
					content ''
					position absolute
					left 50%
					transform translateX(-50%)
					background-image url("../img/icons/sprite_services.png")
					background-repeat no-repeat
					z-index 1
			p
				padding-top 17px
				position relative
				color #999999
				font-family $ff-openSans
				font-size 12px
				font-weight bold
				line-height 20px
				letter-spacing .9px
				text-align center
				&:after
					content ''
					position absolute
					top 0
					left 50%
					transform translateX(-50%)
					height 2px
					width 41px
					background #6a6a6a