.testimonials
	display flex
	flex-direction column
	align-items center
	position relative
	&__wrap
		background-color #f5f6f8
		padding-top 65px
		padding-bottom 66px
		text-align center
		h3
			color #3a3f4b
			font-family $ff-lora
			font-size 42px
			font-weight 700
			line-height 31px
			text-transform uppercase
			position relative
			padding-bottom 92px
			&:after
				content ''
				position absolute
				left 50%
				transform translateX(-50%)
				bottom 59px
				width 147px
				height 4px
				background-color $col-blue
	&__slider
		&-img
			max-width 557px
			height auto
			width 100%
			div
				margin-top 17px
				outline none
			img
				width 100%
				max-width 109px
				height 109px
				border-radius 100px
				position relative
				left 50%
				transform translateX(-50%)
				filter opacity(20%)
				transition filter 1.4s ease
			.slick-center
				margin 0
				img
					max-width 135px
					height 135px
					filter none
		&-text
			text-align center
			max-width 557px
			width 100%
			color #3a3f4b
			position relative
			padding-top 48px
			p
				font-family $ff-lora
				font-size 24px
				line-height 30px
				padding-bottom 45px
			span
				font-family $ff-openSans
				font-size 18px
				a
					text-decoration underline
					margin-left 4px
					color #3a3f4b
.js-arrow
	position absolute
	top 0
	z-index 1
	width 100px
	height 100%
	cursor pointer
	&:after
		content ''
		top 48%
		position absolute
		background url("../img/icons/sprite_slider.png") no-repeat
		height 34px
		width 18px
		cursor pointer
	&.leftArrow
		left 29px
		&:after
			left 0
			background-position 0 0
	&.rightArrow
		right 29px
		&:after
			right 0
			background-position -27px 0

.js-slick-dots
	padding-top 55px
	li
		display inline-block
		&.slick-active
			button
				background #3a3f4b
		button
			width 12px
			height 12px
			border-radius 100px
			background #999999
			margin 8.5px
			font-size 0
			border none
			cursor pointer